### Teams

In [1]:
import pandas as pd
import os

In [2]:
current_directory = os.getcwd()
delivery = os.path.join(current_directory, '..', 'datasets', 'deliveries.csv')
matches = os.path.join(current_directory, '..', 'datasets', 'matches.csv')

In [3]:
delivery = pd.read_csv(delivery)
matches = pd.read_csv(matches)

In [12]:
df_1 = matches[matches["season"] == "2016"]

In [32]:
matches["season"].unique().tolist()

['2007/08',
 '2009',
 '2009/10',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020/21',
 '2021',
 '2022',
 '2023']

In [19]:
delivery.merge(df_1, left_on="match_id", right_on="id")["match_id"].unique()

60

In [17]:
delivery.shape, matches.shape

((243817, 17), (1024, 22))

In [18]:
len(delivery.match_id.unique())

1024

In [19]:
best_inning = delivery.groupby(["batter", "match_id"])["batsman_runs"].sum().reset_index().sort_values(by="batsman_runs",ascending=False).head(1)

In [20]:
f"{best_inning['batter'].values[0]}-{best_inning['batsman_runs'].values[0]}"

'CH Gayle-175'

#### Batsman Page
- Overall performance
- Record against all other teams
- Comparison with other batsman

In [21]:
len(delivery.batter.unique().tolist())

637

In [22]:
ids = delivery[delivery.batter == "V Kohli"].match_id.unique()

In [23]:
matches[matches["id"].isin(ids)]["season"].unique().tolist()

['2007/08',
 '2009',
 '2009/10',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020/21',
 '2021',
 '2022',
 '2023']

In [24]:
matches.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,Team1Players,Team2Players
0,335982,2007/08,Bangalore,18-04-2008,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D..."
1,335983,2007/08,Chandigarh,19-04-2008,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh..."
2,335984,2007/08,Delhi,19-04-2008,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'..."
3,335985,2007/08,Mumbai,20-04-2008,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '..."
4,335986,2007/08,Kolkata,20-04-2008,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,...,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma..."

In [25]:
matches[(matches.Team1Players.str.contains("V Kohli")) | (matches.Team2Players.str.contains("V Kohli"))].shape[0]

222

In [26]:
df1 = delivery[delivery.batter == "V Kohli"]
len(df1.groupby("match_id")["batter"].count().index.tolist())

229

In [27]:
season = "2022"
batsman = "V Kohli"

In [28]:
season_values = matches[matches["season"] == season].id.values

In [29]:
delivery[delivery["match_id"].isin(season_values)]

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
208042,1304047,1,Chennai Super Kings,Kolkata Knight Riders,0,1,RD Gaikwad,UT Yadav,DP Conway,0,1,1,noballs,0,NaN,NaN,NaN
208043,1304047,1,Chennai Super Kings,Kolkata Knight Riders,0,2,RD Gaikwad,UT Yadav,DP Conway,0,0,0,NaN,0,NaN,NaN,NaN
208044,1304047,1,Chennai Super Kings,Kolkata Knight Riders,0,3,RD Gaikwad,UT Yadav,DP Conway,0,1,1,wides,0,NaN,NaN,NaN
208045,1304047,1,Chennai Super Kings,Kolkata Knight Riders,0,4,RD Gaikwad,UT Yadav,DP Conway,0,0,0,NaN,0,NaN,NaN,NaN
208046,1304047,1,Chennai Super Kings,Kolkata Knight Riders,0,5,RD Gaikwad,UT Yadav,DP Conway,0,0,0,NaN,1,RD Gaikwad,caught,N Rana
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,1312200,2,Gujarat Titans,Rajasthan Royals,17,3,DA Miller,R Ashwin,Shubman Gill,1,0,1,NaN,0,NaN,NaN,NaN
225950,1312200,2,Gujarat Titans,Rajasthan Royals,17,4,Shubman Gill,R Ashwin,DA Miller,0,0,0,NaN,0,NaN,NaN,NaN
225951,1312200,2,Gujarat Titans,Rajasthan Royals,17,5,Shubman Gill,R Ashwin,DA Miller,1,0,1,NaN,0,NaN,NaN,NaN
225952,1312200,2,Gujarat Titans,Rajasthan Royals,17,6,DA Miller,R Ashwin,Shubman Gill,2,0,2,NaN,0,NaN,NaN,NaN
225953,1312200,2,Gujarat Titans,Rajasthan Royals,18,1,Shubman Gill,OC McCoy,DA Miller,6,0,6,NaN,0,NaN,NaN,NaN

In [30]:
batsman = "V Kohli"

In [31]:
delivery[delivery.batter == batsman].groupby("bowling_team")["batsman_runs"].sum().reset_index()

              bowling_team  batsman_runs
0      Chennai Super Kings           985
1          Deccan Chargers           306
2           Delhi Capitals          1030
3            Gujarat Lions           283
4           Gujarat Titans           232
5     Kochi Tuskers Kerala            50
6    Kolkata Knight Riders           861
7     Lucknow Super Giants           117
8           Mumbai Indians           857
9            Pune Warriors           128
10            Punjab Kings           861
11        Rajasthan Royals           618
12  Rising Pune Supergiant           271
13     Sunrisers Hyderabad           674

In [32]:
delivery[delivery.batter == batsman]["batsman_runs"].sum()

7273

In [33]:
val = delivery[delivery.batter == batsman].match_id.unique()

In [34]:
len(val)

229

In [35]:
abs = matches[matches.id.isin(val)]

In [36]:
abs[(abs.Team1Players.str.contains(batsman)) | (abs.Team2Players.str.contains(batsman))]

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,Team1Players,Team2Players
0,335982,2007/08,Bangalore,18-04-2008,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D..."
3,335985,2007/08,Mumbai,20-04-2008,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '..."
10,335992,2007/08,Bangalore,26-04-2008,League,SR Watson,M Chinnaswamy Stadium,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,...,wickets,7.0,136.0,20.0,N,NaN,MR Benson,IL Howell,"['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...","['GC Smith', 'M Rawat', 'YK Pathan', 'SR Watso..."
14,335996,2007/08,Bangalore,28-04-2008,League,MS Dhoni,M Chinnaswamy Stadium,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,...,runs,13.0,179.0,20.0,N,NaN,BR Doctrove,RB Tiffin,"['B Chipli', 'W Jaffer', 'LRPL Taylor', 'JH Ka...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'SK Ra..."
16,335998,2007/08,Delhi,30-04-2008,League,GD McGrath,Feroz Shah Kotla,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,...,runs,10.0,192.0,20.0,N,NaN,Aleem Dar,I Shivram,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'Shoaib ...","['P Kumar', 'W Jaffer', 'LRPL Taylor', 'JH Kal..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929,1304100,2022,Mumbai,08-05-2022,League,PWH de Silva,"Wankhede Stadium, Mumbai",Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,...,runs,67.0,193.0,20.0,N,NaN,BNJ Oxenford,N Pandit,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Abhishek Sharma', 'KS Williamson', 'RA Tripa..."
935,1304106,2022,Mumbai,13-05-2022,League,JM Bairstow,"Brabourne Stadium, Mumbai",Punjab Kings,Royal Challengers Bangalore,Royal Challengers Bangalore,...,runs,54.0,210.0,20.0,N,NaN,J Madanagopal,N Pandit,"['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...","['V Kohli', 'F du Plessis', 'RM Patidar', 'MK ..."
942,1304113,2022,Mumbai,19-05-2022,League,V Kohli,"Wankhede Stadium, Mumbai",Gujarat Titans,Royal Challengers Bangalore,Gujarat Titans,...,wickets,8.0,169.0,20.0,N,NaN,KN Ananthapadmanabhan,GR Sadashiv Iyer,"['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...","['V Kohli', 'F du Plessis', 'GJ Maxwell', 'KD ..."
947,1312198,2022,Kolkata,25-05-2022,Eliminator,RM Patidar,"Eden Gardens, Kolkata",Royal Challengers Bangalore,Lucknow Super Giants,Lucknow Super Giants,...,runs,14.0,208.0,20.0,N,NaN,J Madanagopal,MA Gough,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda..."
948,1312199,2022,Ahmedabad,27-05-2022,Qualifier 2,JC Buttler,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,...,wickets,7.0,158.0,20.0,N,NaN,CB Gaffaney,Nitin Menon,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ..."

In [37]:
s_2022 = matches[matches.season == season]

In [38]:
val_2022 = s_2022.id.unique().tolist()

In [39]:
ak = delivery[delivery.match_id.isin(val_2022)]
bk = ak[ak.batter == batsman]

In [40]:
bk.merge(s_2022, left_on="match_id", right_on="id", how="inner")

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,Team1Players,Team2Players
0,1304049,1,Royal Challengers Bangalore,Punjab Kings,7,2,V Kohli,Harpreet Brar,F du Plessis,1,...,wickets,5.0,206.0,20.0,N,NaN,Nitin Menon,YC Barde,"['F du Plessis', 'Anuj Rawat', 'V Kohli', 'KD ...","['MA Agarwal', 'S Dhawan', 'PBB Rajapaksa', 'L..."
1,1304049,1,Royal Challengers Bangalore,Punjab Kings,7,4,V Kohli,Harpreet Brar,F du Plessis,0,...,wickets,5.0,206.0,20.0,N,NaN,Nitin Menon,YC Barde,"['F du Plessis', 'Anuj Rawat', 'V Kohli', 'KD ...","['MA Agarwal', 'S Dhawan', 'PBB Rajapaksa', 'L..."
2,1304049,1,Royal Challengers Bangalore,Punjab Kings,7,5,V Kohli,Harpreet Brar,F du Plessis,1,...,wickets,5.0,206.0,20.0,N,NaN,Nitin Menon,YC Barde,"['F du Plessis', 'Anuj Rawat', 'V Kohli', 'KD ...","['MA Agarwal', 'S Dhawan', 'PBB Rajapaksa', 'L..."
3,1304049,1,Royal Challengers Bangalore,Punjab Kings,8,1,V Kohli,RD Chahar,F du Plessis,1,...,wickets,5.0,206.0,20.0,N,NaN,Nitin Menon,YC Barde,"['F du Plessis', 'Anuj Rawat', 'V Kohli', 'KD ...","['MA Agarwal', 'S Dhawan', 'PBB Rajapaksa', 'L..."
4,1304049,1,Royal Challengers Bangalore,Punjab Kings,9,1,V Kohli,Harpreet Brar,F du Plessis,2,...,wickets,5.0,206.0,20.0,N,NaN,Nitin Menon,YC Barde,"['F du Plessis', 'Anuj Rawat', 'V Kohli', 'KD ...","['MA Agarwal', 'S Dhawan', 'PBB Rajapaksa', 'L..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,1312199,1,Royal Challengers Bangalore,Rajasthan Royals,0,5,V Kohli,TA Boult,F du Plessis,0,...,wickets,7.0,158.0,20.0,N,NaN,CB Gaffaney,Nitin Menon,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ..."
302,1312199,1,Royal Challengers Bangalore,Rajasthan Royals,0,6,V Kohli,TA Boult,F du Plessis,6,...,wickets,7.0,158.0,20.0,N,NaN,CB Gaffaney,Nitin Menon,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ..."
303,1312199,1,Royal Challengers Bangalore,Rajasthan Royals,1,3,V Kohli,M Prasidh Krishna,F du Plessis,0,...,wickets,7.0,158.0,20.0,N,NaN,CB Gaffaney,Nitin Menon,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ..."
304,1312199,1,Royal Challengers Bangalore,Rajasthan Royals,1,4,V Kohli,M Prasidh Krishna,F du Plessis,0,...,wickets,7.0,158.0,20.0,N,NaN,CB Gaffaney,Nitin Menon,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ..."
305,1312199,1,Royal Challengers Bangalore,Rajasthan Royals,1,5,V Kohli,M Prasidh Krishna,F du Plessis,0,...,wickets,7.0,158.0,20.0,N,NaN,CB Gaffaney,Nitin Menon,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ..."

In [41]:
bk.groupby(["match_id","bowling_team"])["batter"].count().reset_index().bowling_team.value_counts().reset_index()

            bowling_team  count
0       Rajasthan Royals      3
1           Punjab Kings      2
2    Chennai Super Kings      2
3   Lucknow Super Giants      2
4    Sunrisers Hyderabad      2
5         Gujarat Titans      2
6  Kolkata Knight Riders      1
7         Mumbai Indians      1
8         Delhi Capitals      1

In [42]:
bk.groupby(["bowling_team"])["batsman_runs"].count().reset_index()

            bowling_team  batsman_runs
0    Chennai Super Kings            38
1         Delhi Capitals            14
2         Gujarat Titans           110
3  Kolkata Knight Riders             7
4   Lucknow Super Giants            27
5         Mumbai Indians            36
6           Punjab Kings            47
7       Rajasthan Royals            25
8    Sunrisers Hyderabad             2

In [43]:
c = bk.groupby(["bowling_team"])

In [44]:
c["batsman_runs"].count().reset_index().merge(c["batsman_runs"].sum().reset_index(), on="bowling_team")

            bowling_team  batsman_runs_x  batsman_runs_y
0    Chennai Super Kings              38              31
1         Delhi Capitals              14              12
2         Gujarat Titans             110             131
3  Kolkata Knight Riders               7              12
4   Lucknow Super Giants              27              25
5         Mumbai Indians              36              48
6           Punjab Kings              47              61
7       Rajasthan Royals              25              21
8    Sunrisers Hyderabad               2               0

In [45]:
c["batsman_runs"].count().reset_index().rename({"batsman_runs": "runs"}, axis=1)

            bowling_team  runs
0    Chennai Super Kings    38
1         Delhi Capitals    14
2         Gujarat Titans   110
3  Kolkata Knight Riders     7
4   Lucknow Super Giants    27
5         Mumbai Indians    36
6           Punjab Kings    47
7       Rajasthan Royals    25
8    Sunrisers Hyderabad     2

In [46]:
delivery.batter.str.strip().unique().tolist()

['SC Ganguly',
 'BB McCullum',
 'RT Ponting',
 'DJ Hussey',
 'Mohammad Hafeez',
 'R Dravid',
 'W Jaffer',
 'V Kohli',
 'JH Kallis',
 'CL White',
 'MV Boucher',
 'B Akhil',
 'AA Noffke',
 'P Kumar',
 'Z Khan',
 'SB Joshi',
 'PA Patel',
 'ML Hayden',
 'MEK Hussey',
 'MS Dhoni',
 'SK Raina',
 'JDP Oram',
 'S Badrinath',
 'K Goel',
 'JR Hopes',
 'KC Sangakkara',
 'Yuvraj Singh',
 'SM Katich',
 'IK Pathan',
 'T Kohli',
 'YK Pathan',
 'SR Watson',
 'M Kaif',
 'DS Lehmann',
 'RA Jadeja',
 'M Rawat',
 'D Salunkhe',
 'SK Warne',
 'SK Trivedi',
 'G Gambhir',
 'V Sehwag',
 'S Dhawan',
 'L Ronchi',
 'ST Jayasuriya',
 'DJ Thornely',
 'RV Uthappa',
 'PR Shah',
 'AM Nayar',
 'SM Pollock',
 'Harbhajan Singh',
 'S Chanderpaul',
 'LRPL Taylor',
 'AC Gilchrist',
 'Y Venugopal Rao',
 'VVS Laxman',
 'A Symonds',
 'RG Sharma',
 'SB Styris',
 'AS Yadav',
 'SB Bangar',
 'WPUJC Vaas',
 'RP Singh',
 'WP Saha',
 'LR Shukla',
 'DPMD Jayawardene',
 'S Sohal',
 'B Lee',
 'PP Chawla',
 'WA Mota',
 'Kamran Akmal',
 'Shahid Afridi',
 'DJ Bravo',
 'MA Khote',
 'A Nehra',
 'GC Smith',
 'Pankaj Singh',
 'RR Sarwan',
 'S Sreesanth',
 'VRV Singh',
 'SS Tiwary',
 'DS Kulkarni',
 'R Vinay Kumar',
 'AB Agarkar',
 'M Kartik',
 'I Sharma',
 'AM Rahane',
 'Shoaib Malik',
 'MK Tiwary',
 'KD Karthik',
 'R Bhatia',
 'MF Maharoof',
 'VY Mahesh',
 'TM Srivastava',
 'B Chipli',
 'DW Steyn',
 'DB Das',
 'MK Pandey',
 'HH Gibbs',
 'DNT Zoysa',
 'D Kalyankrishna',
 'SE Marsh',
 'SA Asnodkar',
 'Sohail Tanvir',
 'Salman Butt',
 'BJ Hodge',
 'Umar Gul',
 'AB Dinda',
 'SP Fleming',
 'S Vidyut',
 'JA Morkel',
 'AB de Villiers',
 'LPC Silva',
 'DB Ravi Teja',
 'Misbah-ul-Haq',
 'YV Takawale',
 'RR Raje',
 'PJ Sangwan',
 'Mohammad Asif',
 'GD McGrath',
 'Joginder Sharma',
 'MS Gony',
 'M Muralitharan',
 'M Ntini',
 'DT Patil',
 'A Kumble',
 'S Anirudha',
 'MM Patel',
 'CK Kapugedera',
 'A Chopra',
 'T Taibu',
 'J Arunkumar',
 'PP Ojha',
 'SP Goswami',
 'SR Tendulkar',
 'U Kaul',
 'TM Dilshan',
 'A Mishra',
 'AD Mascarenhas',
 'NK Patel',
 'LA Pomersbach',
 'Iqbal Abdulla',
 'Younis Khan',
 'PM Sarvesh Kumar',
 'DP Vijaykumar',
 'Shoaib Akhtar',
 'Abdur Razzak',
 'H Das',
 'DR Smith',
 'SD Chitnis',
 'CRD Fernando',
 'VS Yeligati',
 'L Balaji',
 'A Mukund',
 'RR Powar',
 'JP Duminy',
 'A Flintoff',
 'T Thushara',
 'JD Ryder',
 'KP Pietersen',
 'T Henderson',
 'Kamran Khan',
 'RS Bopara',
 'CH Gayle',
 'MC Henriques',
 'R Bishnoi',
 'FH Edwards',
 'KV Sharma',
 'PC Valthaty',
 'RJ Quiney',
 'AS Raut',
 'Yashpal Singh',
 'M Manhas',
 'AA Bilakhia',
 'AN Ghosh',
 'BAW Mendis',
 'DL Vettori',
 'MN van Wyk',
 'RE van der Merwe',
 'TL Suman',
 'Shoaib Ahmed',
 'GR Napier',
 'KP Appanna',
 'LA Carseldine',
 'NV Ojha',
 'SM Harwood',
 'M Vijay',
 'SB Jakati',
 'DA Warner',
 'RJ Harris',
 'D du Preez',
 'M Morkel',
 'AD Mathews',
 'J Botha',
 'C Nanda',
 'SL Malinga',
 'Mashrafe Mortaza',
 'A Singh',
 'GJ Bailey',
 'AB McDonald',
 'Y Nagar',
 'SS Shaikh',
 'R Ashwin',
 'Mohammad Ashraful',
 'CA Pujara',
 'OA Shah',
 'Anirudh Singh',
 'Jaskaran Singh',
 'AP Tare',
 'AT Rayudu',
 'R Sathish',
 'R McLaren',
 'AA Jhunjhunwala',
 'P Dogra',
 'A Uniyal',
 'MS Bisla',
 'YA Abdulla',
 'EJG Morgan',
 'JM Kemp',
 'S Tyagi',
 'RS Gavaskar',
 'SE Bond',
 'KA Pollard',
 'S Ladda',
 'DP Nannes',
 'MJ Lumb',
 'DR Martyn',
 'S Narwal',
 'AB Barath',
 'Bipul Sharma',
 'FY Fazal',
 'AC Voges',
 'MD Mishra',
 'UT Yadav',
 'J Theron',
 'SJ Srivastava',
 'R Sharma',
 'Mandeep Singh',
 'KM Jadhav',
 'SW Tait',
 'KB Arun Karthik',
 'KAJ Roach',
 'PD Collingwood',
 'CK Langeveldt',
 'VS Malik',
 'A Mithun',
 'AP Dole',
 'AN Ahmed',
 'RS Sodhi',
 'DE Bollinger',
 'S Sriram',
 'B Sumanth',
 'C Madan',
 'AG Paunikar',
 'MR Marsh',
 'AJ Finch',
 'STR Binny',
 'Harmeet Singh',
 'IR Jaggi',
 'DT Christian',
 'RV Gomez',
 'MA Agarwal',
 'AUK Pathan',
 'UBT Chand',
 'DJ Jacobs',
 'Sunny Singh',
 'NJ Rimmington',
 'AL Menaria',
 'WD Parnell',
 'JJ van der Wath',
 'R Ninan',
 'S Aravind',
 'MS Wade',
 'TD Paine',
 'SB Wagh',
 'AC Thomas',
 'JEC Franklin',
 'Shakib Al Hasan',
 'DH Yagnik',
 'S Randiv',
 'BJ Haddin',
 'NLTC Perera',
 'NL McCullum',
 'JE Taylor',
 'J Syed Mohammad',
 'RN ten Doeschate',
 'TR Birt',
 'AG Murtaza',
 'Harpreet Singh',
 'M Klinger',
 'AC Blizzard',
 'I Malhotra',
 'L Ablish',
 'CA Ingram',
 'S Nadeem',
 'P Parameswaran',
 'CJ Ferguson',
 'VR Aaron',
 'AA Chavan',
 'ND Doshi',
 'B Kumar',
 'Y Gnaneswara Rao',
 'S Rana',
 'BA Bhatt',
 'F du Plessis',
 'RE Levi',
 'GJ Maxwell',
 'SPD Smith',
 'MN Samuels',
 'SA Yadav',
 'KK Cooper',
 'JP Faulkner',
 'HV Patel',
 'DAJ Bracewell',
 'DJ Harris',
 'Ankit Sharma',
 'SP Narine',
 'GB Hogg',
 'RR Bhatkal',
 'CJ McKay',
 'N Saini',
 'DA Miller',
 'Azhar Mahmood',
 'P Negi',
 'RJ Peterson',
 'KMDN Kulasekara',
 'A Ashish Reddy',
 'V Pratap Singh',
 'BB Samantray',
 'MJ Clarke',
 'Gurkeerat Singh',
 'AP Majumdar',
 'PA Reddy',
 'K Upadhyay',
 'P Awana',
 'AD Russell',
 'A Chandila',
 'CA Lynn',
 'Sunny Gupta',
 'MC Juneja',
 'KK Nair',
 'GH Vihari',
 'MDKJ Perera',
 'R Shukla',
 'B Laughlin',
 'AS Rajpoot',
 'M Vohra',
 'JD Unadkat',
 'Mohammed Shami',
 'BMAJ Mendis',
 'R Rampaul',
 'CH Morris',
 'SV Samson',
 'SMSM Senanayake',
 'BJ Rohrer',
 'KL Rahul',
 'Q de Kock',
 'R Dhawan',
 'MG Johnson',
 'LJ Wright',
 'IC Pandey',
 'CM Gautam',
 'X Thalaivan Sargunam',
 'DJG Sammy',
 'KW Richardson',
 'MM Sharma',
 'UA Birla',
 'Parvez Rasool',
 'Sandeep Sharma',
 'S Kaul',
 'Sachin Baby',
 'PV Tambe',
 'NM Coulter-Nile',
 'CJ Anderson',
 'NJ Maddinson',
 'AR Patel',
 'JJ Bumrah',
 'JDS Neesham',
 'TG Southee',
 'MA Starc',
 'BR Dunk',
 'RR Rossouw',
 'Shivam Sharma',
 'YS Chahal',
 'LMP Simmons',
 'VH Zol',
 'BCJ Cutting',
 'Imran Tahir',
 'BE Hendricks',
 'S Gopal',
 'M de Lange',
 'R Tewatia',
 'JO Holder',
 'Karanveer Singh',
 'SS Iyer',
 'DJ Hooda',
 'Anureet Singh',
 'KS Williamson',
 'SA Abbott',
 'J Suchith',
 'RG More',
 'HH Pandya',
 'D Wiese',
 'SN Khan',
 'MJ McClenaghan',
 'DJ Muthuswami',
 'PJ Cummins',
 'SN Thakur',
 'JC Buttler',
 'CR Brathwaite',
 'MP Stoinis',
 'Ishan Kishan',
 'C Munro',
 'P Sahu',
 'KH Pandya',
 'AD Nath',
 'MJ Guptill',
 'KJ Abbott',
 'TM Head',
 'M Ashwin',
 'NS Naik',
 'RR Pant',
 'SW Billings',
 'KC Cariappa',
 'PSP Handscomb',
 'Swapnil Singh',
 'J Yadav',
 'UT Khawaja',
 'HM Amla',
 'F Behardien',
 'BB Sran',
 'A Zampa',
 'N Rana',
 'S Kaushik',
 'ER Dwivedi',
 'CJ Jordan',
 'TS Mills',
 'A Choudhary',
 'BA Stokes',
 'JJ Roy',
 'Vishnu Vinod',
 'Basil Thampi',
 'CR Woakes',
 'RA Tripathi',
 'DL Chahar',
 'V Shankar',
 'Rashid Khan',
 'RD Chahar',
 'LH Ferguson',
 'C de Grandhomme',
 'AF Milne',
 'S Badree',
 'Mohammad Nabi',
 'AJ Tye',
 'K Rabada',
 'Kuldeep Yadav',
 'Washington Sundar',
 'DM Bravo',
 'AR Bawne',
 'SP Jackson',
 'Ankit Soni',
 'TA Boult',
 'E Lewis',
 'MA Wood',
 'RK Singh',
 'DJM Short',
 'K Gowtham',
 'TK Curran',
 'M Markande',
 'B Stanlake',
 'Mujeeb Ur Rahman',
 'A Dananjaya',
 'Shubman Gill',
 'Shivam Mavi',
 'Mohammed Siraj',
 'H Klaasen',
 'RK Bhui',
 'JC Archer',
 'PP Shaw',
 'LE Plunkett',
 'Mustafizur Rahman',
 'AD Hales',
 'MK Lomror',
 'DR Shorey',
 'MM Ali',
 'M Prasidh Krishna',
 'P Chopra',
 'JPR Scantlebury-Searles',
 'Abhishek Sharma',
 'IS Sodhi',
 'SO Hetmyer',
 'S Dube',
 'Navdeep Saini',
 'JM Bairstow',
 'KMA Paul',
 'Rasikh Salam',
 'N Pooran',
 'P Ray Barman',
 'SM Curran',
 'GC Viljoen',
 'Avesh Khan',
 'S Lamichhane',
 'HF Gurney',
 'SD Lad',
 'AS Joseph',
 'R Parag',
 'MJ Santner',
 'JL Denly',
 'LS Livingstone',
 'KK Ahmed',
 'AJ Turner',
 'Harpreet Brar',
 'SE Rutherford',
 'Y Prithvi Raj',
 'P Simran Singh',
 'JL Pattinson',
 'A Nortje',
 'T Banton',
 'D Padikkal',
 'YBK Jaiswal',
 'RD Gaikwad',
 'TU Deshpande',
 'Abdul Samad',
 'PK Garg',
 'JR Philippe',
 'Kartik Tyagi',
 'KL Nagarkoti',
 'CV Varun',
 'I Udana',
 'Ravi Bishnoi',
 'Shahbaz Ahmed',
 'AT Carey',
 'N Jagadeesan',
 'T Natarajan',
 'P Dubey',
 'SS Cottrell',
 'Arshdeep Singh',
 'DR Sams',
 'M Jansen',
 'RM Patidar',
 'KA Jamieson',
 'M Shahrukh Khan',
 'JA Richardson',
 'Lalit Yadav',
 'Virat Singh',
 'FA Allen',
 'C Sakariya',
 'DJ Malan',
 'KS Bharat',
 'PWH de Silva',
 'VR Iyer',
 'GD Phillips',
 'GHS Garton',
 'AK Markram',
 'K Yadav',
 'T Shamsi',
 'NT Ellis',
 'RV Patel',
 'TL Seifert',
 'Anmolpreet Singh',
 'Anuj Rawat',
 'TH David',
 'DP Conway',
 'Tilak Varma',
 'R Powell',
 'PBB Rajapaksa',
 'RA Bawa',
 'OF Smith',
 'A Badoni',
 'PVD Chameera',
 'A Manohar',
 'R Shepherd',
 'DJ Willey',
 'D Pretorius',
 'JM Sharma',
 'VG Arora',
 'Mukesh Choudhary',
 'Umran Malik',
 'D Brevis',
 'B Sai Sudharsan',
 'Ramandeep Singh',
 'HE van der Dussen',
 'SS Prabhudessai',
 'Akash Deep',
 'JR Hazlewood',
 'KR Sen',
 'Aman Hakim Khan',
 'HR Shokeen',
 'Yash Dayal',
 'DJ Mitchell',
 'Shashank Singh',
 'B Indrajith',
 'Harshit Rana',
 'Mohsin Khan',
 'Simarjeet Singh',
 'M Theekshana',
 'AS Roy',
 'Fazalhaq Farooqi',
 'K Kartikeya',
 'RP Meredith',
 'KS Sharma',
 'T Stubbs',
 'R Sanjay Yadav',
 'A Tomar',
 'PN Mankad',
 'OC McCoy',
 'Sikandar Raza',
 'Rahmanullah Gurbaz',
 'KR Mayers',
 'Mukesh Kumar',
 'HC Brook',
 'AU Rashid',
 'C Green',
 'N Wadhera',
 'Arshad Khan',
 'Abishek Porel',
 'Dhruv Jurel',
 'MG Bracewell',
 'MW Short',
 'Mohit Rathee',
 'YV Dhull',
 'Yudhvir Singh',
 'Atharva Taide',
 'Liton Das',
 'PD Salt',
 'Vijaykumar Vyshak',
 'Abdul Basith',
 'Arjun Tendulkar',
 'JP Behrendorff',
 'AJ Hosein',
 'Naveen-ul-Haq',
 'Noor Ahmad',
 'JE Root',
 'KM Asif',
 'MD Shanaka',
 'Sanvir Singh',
 'Vivrant Sharma',
 'DG Nalkande']

In [47]:
delivery.groupby(["match_id","bowling_team"])["batter"].count().reset_index().bowling_team.value_counts().reset_index()

                   bowling_team  count
0                Mumbai Indians    247
1   Royal Challengers Bangalore    239
2         Kolkata Knight Riders    237
3                Delhi Capitals    237
4                  Punjab Kings    232
5           Chennai Super Kings    224
6              Rajasthan Royals    206
7           Sunrisers Hyderabad    166
8               Deccan Chargers     75
9                 Pune Warriors     46
10               Gujarat Titans     33
11       Rising Pune Supergiant     30
12                Gujarat Lions     30
13         Lucknow Super Giants     29
14         Kochi Tuskers Kerala     14

In [48]:
temp_df = delivery[delivery.batter == "V Kohli"]

In [49]:
temp_df.groupby(["bowling_team", "match_id"])["batsman_runs"].sum().reset_index().groupby("bowling_team")["batsman_runs"].max().reset_index().rename(columns={"batsman_runs": "Highest_score"})

              bowling_team  Highest_score
0      Chennai Super Kings             90
1          Deccan Chargers             71
2           Delhi Capitals             99
3            Gujarat Lions            109
4           Gujarat Titans            101
5     Kochi Tuskers Kerala             27
6    Kolkata Knight Riders            100
7     Lucknow Super Giants             61
8           Mumbai Indians             92
9            Pune Warriors             67
10            Punjab Kings            113
11        Rajasthan Royals             72
12  Rising Pune Supergiant            108
13     Sunrisers Hyderabad            100

In [50]:
hundred_fifty_df = temp_df.groupby(["bowling_team", "match_id"])["batsman_runs"].sum().reset_index()

In [51]:
hundred_fifty_df.query("batsman_runs >=100").groupby("bowling_team")["batsman_runs"].count().reset_index().rename(columns={"batsman_runs": "Hundreds"})

             bowling_team  Hundreds
0           Gujarat Lions         2
1          Gujarat Titans         1
2   Kolkata Knight Riders         1
3            Punjab Kings         1
4  Rising Pune Supergiant         1
5     Sunrisers Hyderabad         1

In [52]:
hundred_fifty_df.query("batsman_runs >=50 and batsman_runs <100").groupby("bowling_team")["batsman_runs"].count().reset_index()

              bowling_team  batsman_runs
0      Chennai Super Kings             9
1          Deccan Chargers             3
2           Delhi Capitals            10
3            Gujarat Lions             1
4           Gujarat Titans             2
5    Kolkata Knight Riders             5
6     Lucknow Super Giants             1
7           Mumbai Indians             5
8            Pune Warriors             1
9             Punjab Kings             3
10        Rajasthan Royals             4
11  Rising Pune Supergiant             2
12     Sunrisers Hyderabad             5

In [53]:
delivery[delivery["batter"] == "V Kohli"]["batsman_runs"] == 4

132       False
133       False
134       False
137       False
138       False
          ...
242743    False
242745     True
242746    False
242748    False
242750    False
Name: batsman_runs, Length: 5739, dtype: bool

In [54]:
len(delivery), delivery.shape
temp_df = delivery[delivery.batter == "V Kohli"]

In [55]:
temp_df.groupby(["bowling_team", "match_id"])["batsman_runs"].sum().reset_index().groupby("bowling_team")["batsman_runs"].max()

bowling_team
Chennai Super Kings        90
Deccan Chargers            71
Delhi Capitals             99
Gujarat Lions             109
Gujarat Titans            101
Kochi Tuskers Kerala       27
Kolkata Knight Riders     100
Lucknow Super Giants       61
Mumbai Indians             92
Pune Warriors              67
Punjab Kings              113
Rajasthan Royals           72
Rising Pune Supergiant    108
Sunrisers Hyderabad       100
Name: batsman_runs, dtype: int64

In [56]:
df1 = delivery[delivery["batter"]== "V Kohli"]

In [57]:
df2 = df1.merge(matches, left_on="match_id", right_on="id", how="outer")

In [58]:
s_df = df2.groupby(["season", "batter"])

In [59]:
runs = s_df["batsman_runs"].sum().reset_index().rename(columns={"batsman_runs": "runs"})

In [60]:
balls = s_df["batsman_runs"].count().reset_index().rename(columns={"batsman_runs": "balls"})

In [61]:
hs = df2.groupby(["season", "match_id", "batter"])["batsman_runs"].sum().reset_index().groupby(["season", "batter"])["batsman_runs"].max().reset_index().rename(columns={"batsman_runs": "highest_score"})

In [62]:
pd.merge(runs, balls, on=["season", "batter"], how="outer").merge(hs, on=["season", "batter"], how="outer")

     season   batter   runs  balls  highest_score
0   2007/08  V Kohli  165.0    168           38.0
1      2009  V Kohli  246.0    225           50.0
2   2009/10  V Kohli  307.0    216           58.0
3      2011  V Kohli  557.0    473           71.0
4      2012  V Kohli  364.0    333           73.0
5      2013  V Kohli  639.0    471           99.0
6      2014  V Kohli  359.0    301           73.0
7      2015  V Kohli  505.0    395           82.0
8      2016  V Kohli  973.0    655          113.0
9      2017  V Kohli  308.0    257           64.0
10     2018  V Kohli  530.0    385           92.0
11     2019  V Kohli  464.0    332          100.0
12  2020/21  V Kohli  471.0    402           90.0
13     2021  V Kohli  405.0    347           72.0
14     2022  V Kohli  341.0    306           73.0
15     2023  V Kohli  639.0    473          101.0

In [63]:
df2[~df2["dismissal_kind"].isin(['retired_out', 'retired_hurt'])].groupby(["season", "batter"])["is_wicket"].sum().reset_index().rename(columns={"is_wicket": "out"})

     season   batter   out
0   2007/08  V Kohli  12.0
1      2009  V Kohli  11.0
2   2009/10  V Kohli  13.0
3      2011  V Kohli  13.0
4      2012  V Kohli  12.0
5      2013  V Kohli  14.0
6      2014  V Kohli  14.0
7      2015  V Kohli  14.0
8      2016  V Kohli  12.0
9      2017  V Kohli  11.0
10     2018  V Kohli  12.0
11     2019  V Kohli  14.0
12  2020/21  V Kohli  11.0
13     2021  V Kohli  14.0
14     2022  V Kohli  16.0
15     2023  V Kohli  12.0

In [64]:
temp_df = pd.merge(delivery, matches, left_on="match_id", right_on="id", how="outer")

In [65]:
b_df = temp_df[temp_df.bowler == "JJ Bumrah"]

In [66]:
df_1 = b_df[~b_df["dismissal_kind"].isin(["run out","retired hurt","obstructing the field","retired out"])]

In [67]:
r_df = df_1.groupby(["bowler", "match_id"])["is_wicket"].sum().reset_index()

In [68]:
r_df[(r_df.is_wicket <= 4) & (r_df.is_wicket >= 3)]["is_wicket"].count()

18

In [69]:
b_df.groupby(["match_id", "batting_team"])["bowler"].count().reset_index()["batting_team"].value_counts().reset_index().rename(columns={"batting_team": "Teams", "count": "Matches"})

                          Teams  Matches
0                Delhi Capitals       19
1   Royal Challengers Bangalore       18
2         Kolkata Knight Riders       16
3                  Punjab Kings       15
4           Chennai Super Kings       14
5           Sunrisers Hyderabad       13
6              Rajasthan Royals       12
7        Rising Pune Supergiant        6
8                 Gujarat Lions        4
9          Lucknow Super Giants        2
10               Gujarat Titans        1

In [70]:
b_df.groupby(["batting_team"])["ball"].count().reset_index().rename(columns={"ball" : "Balls"})

                   batting_team  Balls
0           Chennai Super Kings    338
1                Delhi Capitals    443
2                 Gujarat Lions    112
3                Gujarat Titans     24
4         Kolkata Knight Riders    364
5          Lucknow Super Giants     50
6                  Punjab Kings    357
7              Rajasthan Royals    284
8        Rising Pune Supergiant    139
9   Royal Challengers Bangalore    440
10          Sunrisers Hyderabad    306

In [71]:
b_df.groupby(["match_id", "batting_team"])["total_runs"].sum().reset_index().groupby("batting_team")["total_runs"].min()

batting_team
Chennai Super Kings            11
Delhi Capitals                  6
Gujarat Lions                  32
Gujarat Titans                 48
Kolkata Knight Riders           7
Lucknow Super Giants           25
Punjab Kings                   14
Rajasthan Royals               14
Rising Pune Supergiant         27
Royal Challengers Bangalore    14
Sunrisers Hyderabad            14
Name: total_runs, dtype: int64

In [72]:
b_df.groupby(["season", "bowler"])["ball"].count().reset_index()

    season     bowler  ball
0     2013  JJ Bumrah    45
1     2014  JJ Bumrah   246
2     2015  JJ Bumrah    98
3     2016  JJ Bumrah   322
4     2017  JJ Bumrah   373
5     2018  JJ Bumrah   333
6     2019  JJ Bumrah   382
7  2020/21  JJ Bumrah   384
8     2021  JJ Bumrah   347
9     2022  JJ Bumrah   327

In [73]:
b_df[~b_df["extras_type"].isin(["legbyes","byes","penalty"])].groupby(["season", "bowler"])["total_runs"].sum().reset_index().rename(columns={"total_runs": "Runs"})

    season     bowler  Runs
0     2013  JJ Bumrah    70
1     2014  JJ Bumrah   301
2     2015  JJ Bumrah   184
3     2016  JJ Bumrah   406
4     2017  JJ Bumrah   444
5     2018  JJ Bumrah   372
6     2019  JJ Bumrah   417
7  2020/21  JJ Bumrah   420
8     2021  JJ Bumrah   410
9     2022  JJ Bumrah   383

In [74]:
b_df[~b_df["dismissal_kind"].isin(["run out","retired hurt","obstructing the field","retired out"])].groupby(["season", "bowler"])["dismissal_kind"].count().reset_index().rename(columns={'dismissal_kind' : 'Wickets'})

    season     bowler  Wickets
0     2013  JJ Bumrah        3
1     2014  JJ Bumrah        5
2     2015  JJ Bumrah        3
3     2016  JJ Bumrah       15
4     2017  JJ Bumrah       20
5     2018  JJ Bumrah       17
6     2019  JJ Bumrah       20
7  2020/21  JJ Bumrah       29
8     2021  JJ Bumrah       21
9     2022  JJ Bumrah       15

In [7]:
df1 = delivery.merge(matches, left_on="match_id", right_on="id", how="outer")

In [76]:
teams = "Chennai Super Kings"

In [77]:
batting_df = df1[(df1["batting_team"] == teams)]

In [78]:
batting_df.groupby(["match_id", "bowling_team", "season"]).agg({"total_runs": "sum", "is_wicket" : "sum"})

                                              total_runs  is_wicket
match_id bowling_team                season
335983   Punjab Kings                2007/08         240          5
335989   Mumbai Indians              2007/08         208          5
335993   Kolkata Knight Riders       2007/08         152          1
335996   Royal Challengers Bangalore 2007/08         178          5
336001   Delhi Capitals              2007/08         169          6
...                                                  ...        ...
1359529  Delhi Capitals              2023            167          8
1359535  Kolkata Knight Riders       2023            144          6
1359541  Delhi Capitals              2023            223          3
1370350  Gujarat Titans              2023            172          7
1370353  Gujarat Titans              2023            171          5

[223 rows x 2 columns]

In [79]:
season = "2019"

In [80]:
season_df = batting_df[batting_df["season"] == season]

In [81]:
season_df

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,Team1Players,Team2Players
164850,1175356,2,Chennai Super Kings,Royal Challengers Bangalore,0,1,SR Watson,YS Chahal,AT Rayudu,0,...,wickets,7.0,71.0,20.0,N,NaN,AY Dandekar,BNJ Oxenford,"['V Kohli', 'PA Patel', 'MM Ali', 'AB de Villi...","['SR Watson', 'AT Rayudu', 'SK Raina', 'KM Jad..."
164851,1175356,2,Chennai Super Kings,Royal Challengers Bangalore,0,2,SR Watson,YS Chahal,AT Rayudu,0,...,wickets,7.0,71.0,20.0,N,NaN,AY Dandekar,BNJ Oxenford,"['V Kohli', 'PA Patel', 'MM Ali', 'AB de Villi...","['SR Watson', 'AT Rayudu', 'SK Raina', 'KM Jad..."
164852,1175356,2,Chennai Super Kings,Royal Challengers Bangalore,0,3,SR Watson,YS Chahal,AT Rayudu,0,...,wickets,7.0,71.0,20.0,N,NaN,AY Dandekar,BNJ Oxenford,"['V Kohli', 'PA Patel', 'MM Ali', 'AB de Villi...","['SR Watson', 'AT Rayudu', 'SK Raina', 'KM Jad..."
164853,1175356,2,Chennai Super Kings,Royal Challengers Bangalore,0,4,SR Watson,YS Chahal,AT Rayudu,0,...,wickets,7.0,71.0,20.0,N,NaN,AY Dandekar,BNJ Oxenford,"['V Kohli', 'PA Patel', 'MM Ali', 'AB de Villi...","['SR Watson', 'AT Rayudu', 'SK Raina', 'KM Jad..."
164854,1175356,2,Chennai Super Kings,Royal Challengers Bangalore,0,5,SR Watson,YS Chahal,AT Rayudu,0,...,wickets,7.0,71.0,20.0,N,NaN,AY Dandekar,BNJ Oxenford,"['V Kohli', 'PA Patel', 'MM Ali', 'AB de Villi...","['SR Watson', 'AT Rayudu', 'SK Raina', 'KM Jad..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179053,1181768,2,Chennai Super Kings,Mumbai Indians,19,2,RA Jadeja,SL Malinga,SR Watson,1,...,runs,1.0,150.0,20.0,N,NaN,IJ Gould,Nitin Menon,"['Q de Kock', 'RG Sharma', 'SA Yadav', 'Ishan ...","['F du Plessis', 'SR Watson', 'SK Raina', 'AT ..."
179054,1181768,2,Chennai Super Kings,Mumbai Indians,19,3,SR Watson,SL Malinga,RA Jadeja,2,...,runs,1.0,150.0,20.0,N,NaN,IJ Gould,Nitin Menon,"['Q de Kock', 'RG Sharma', 'SA Yadav', 'Ishan ...","['F du Plessis', 'SR Watson', 'SK Raina', 'AT ..."
179055,1181768,2,Chennai Super Kings,Mumbai Indians,19,4,SR Watson,SL Malinga,RA Jadeja,1,...,runs,1.0,150.0,20.0,N,NaN,IJ Gould,Nitin Menon,"['Q de Kock', 'RG Sharma', 'SA Yadav', 'Ishan ...","['F du Plessis', 'SR Watson', 'SK Raina', 'AT ..."
179056,1181768,2,Chennai Super Kings,Mumbai Indians,19,5,SN Thakur,SL Malinga,RA Jadeja,2,...,runs,1.0,150.0,20.0,N,NaN,IJ Gould,Nitin Menon,"['Q de Kock', 'RG Sharma', 'SA Yadav', 'Ishan ...","['F du Plessis', 'SR Watson', 'SK Raina', 'AT ..."
179057,1181768,2,Chennai Super Kings,Mumbai Indians,19,6,SN Thakur,SL Malinga,RA Jadeja,0,...,runs,1.0,150.0,20.0,N,NaN,IJ Gould,Nitin Menon,"['Q de Kock', 'RG Sharma', 'SA Yadav', 'Ishan ...","['F du Plessis', 'SR Watson', 'SK Raina', 'AT ..."

In [82]:
season_df[season_df["over"].isin([0,1,2,3,4,5])].groupby(["match_id","bowling_team"]).agg({"total_runs": "sum", "is_wicket": "sum"}).reset_index().sort_values(by="total_runs", ascending=False).head(1)["total_runs"].values[0]

58

In [83]:
season_df[season_df["over"].isin([15,16,17,18,19])].groupby(["match_id","bowling_team", "season"]).agg({"total_runs": "sum", "is_wicket": "sum"}).reset_index().sort_values(by="total_runs", ascending=False).head(1)

    match_id    bowling_team season  total_runs  is_wicket
12   1178425  Delhi Capitals   2019          77          1

In [84]:
season_df.groupby(["match_id", "bowling_team"])["total_runs"].sum().reset_index().sort_values(by="total_runs", ascending=False)

    match_id                 bowling_team  total_runs
12   1178425               Delhi Capitals         179
10   1178416          Sunrisers Hyderabad         176
2    1175367             Rajasthan Royals         175
13   1178430                 Punjab Kings         170
7    1178404        Kolkata Knight Riders         162
4    1178393                 Punjab Kings         160
9    1178414  Royal Challengers Bangalore         160
6    1178400             Rajasthan Royals         155
15   1181767               Delhi Capitals         151
1    1175360               Delhi Capitals         150
16   1181768               Mumbai Indians         148
3    1175370               Mumbai Indians         133
8    1178408          Sunrisers Hyderabad         132
14   1181764               Mumbai Indians         131
5    1178398        Kolkata Knight Riders         111
11   1178419               Mumbai Indians         109
0    1175356  Royal Challengers Bangalore          71

In [108]:
bat_df.groupby(["match_id", "bowling_team", "season"]).agg({"total_runs": "sum", "is_wicket": "sum"}).reset_index().sort_values(by="total_runs", ascending=False).head(1)

    match_id         bowling_team season  total_runs  is_wicket
89    598051  Sunrisers Hyderabad   2013          87          2

In [86]:
bat_df = batting_df[batting_df["over"].isin([15,16,17,18,19])]

In [104]:
bat_df.groupby(["match_id", "bowling_team"]).agg({"total_runs": "sum", "is_wicket": "sum"}).reset_index().sort_values(by="total_runs", ascending=False).head(1).values[0]

array([598051, 'Sunrisers Hyderabad', 87, 2], dtype=object)

In [118]:
batting_df.groupby(["match_id", "bowling_team", "season"]).agg({"total_runs": "sum", "is_wicket": "sum"}).reset_index().sort_values(by="total_runs", ascending=True).head(1)

    match_id           bowling_team   season  total_runs  is_wicket
10    336025  Kolkata Knight Riders  2007/08          55          0

In [124]:
batting_df.groupby(["bowling_team", "match_id", "batter", "season"])["batsman_runs"].sum().reset_index().sort_values(by="batsman_runs", ascending=False)

,bowling_team,match_id,batter,season,batsman_runs
1066,Rajasthan Royals,419137,M Vijay,2009/10,127
1487,Sunrisers Hyderabad,1136620,SR Watson,2018,117
840,Punjab Kings,335983,MEK Hussey,2007/08,116
148,Delhi Capitals,548380,M Vijay,2012,113
1138,Rajasthan Royals,1136577,SR Watson,2018,106
...,...,...,...,...,...
872,Punjab Kings,419121,M Vijay,2009/10,0
1280,Royal Challengers Bangalore,501266,S Badrinath,2011,0
858,Punjab Kings,392214,S Badrinath,2009,0
831,Pune Warriors,598015,S Anirudha,2013,0
294,Gujarat Titans,1304108,S Dube,2022,0

In [133]:
temp_df = df1[df1["bowling_team"] == teams]

In [137]:
temp_df.groupby(["match_id", "batting_team", "bowler"]).agg({"batsman_runs" : "sum", "is_wicket" : "sum"}).reset_index().sort_values(by= ["is_wicket", "batsman_runs"], ascending=[False,True])

      match_id         batting_team        bowler  batsman_runs  is_wicket
1058   1254065         Punjab Kings     DL Chahar            12          5
600     729303       Mumbai Indians     MM Sharma            14          5
374     548311      Deccan Chargers     RA Jadeja            16          5
467     548380       Delhi Capitals      R Ashwin            22          5
44      336013         Punjab Kings      L Balaji            23          5
...        ...                  ...           ...           ...        ...
1092   1254089     Rajasthan Royals  JR Hazlewood            54          0
1317   1370353       Gujarat Titans  TU Deshpande            56          0
724     829773  Sunrisers Hyderabad     MM Sharma            57          0
1173   1304075       Gujarat Titans     CJ Jordan            57          0
1087   1254084       Mumbai Indians       L Ngidi            62          0

[1318 rows x 5 columns]

In [148]:
batting_df.groupby("batter")["batsman_runs"].sum().sort_values(ascending=False).head(1)

batter
SK Raina    4695
Name: batsman_runs, dtype: int64

In [150]:
df1["bowling+"]

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,Team1Players,Team2Players
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D..."
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D..."
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D..."
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D..."
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,2,Chennai Super Kings,Gujarat Titans,14,2,S Dube,MM Sharma,RA Jadeja,1,...,wickets,5.0,171.0,15.0,N,D/L,Nitin Menon,RJ Tucker,"['Wriddhiman Saha ', 'Shubman Gill ', 'Sai Sud...","['Ruturaj Gaikwad ', 'Devon Conway ', 'Ajinkya..."
243813,1370353,2,Chennai Super Kings,Gujarat Titans,14,3,RA Jadeja,MM Sharma,S Dube,1,...,wickets,5.0,171.0,15.0,N,D/L,Nitin Menon,RJ Tucker,"['Wriddhiman Saha ', 'Shubman Gill ', 'Sai Sud...","['Ruturaj Gaikwad ', 'Devon Conway ', 'Ajinkya..."
243814,1370353,2,Chennai Super Kings,Gujarat Titans,14,4,S Dube,MM Sharma,RA Jadeja,1,...,wickets,5.0,171.0,15.0,N,D/L,Nitin Menon,RJ Tucker,"['Wriddhiman Saha ', 'Shubman Gill ', 'Sai Sud...","['Ruturaj Gaikwad ', 'Devon Conway ', 'Ajinkya..."
243815,1370353,2,Chennai Super Kings,Gujarat Titans,14,5,RA Jadeja,MM Sharma,S Dube,6,...,wickets,5.0,171.0,15.0,N,D/L,Nitin Menon,RJ Tucker,"['Wriddhiman Saha ', 'Shubman Gill ', 'Sai Sud...","['Ruturaj Gaikwad ', 'Devon Conway ', 'Ajinkya..."
243816,1370353,2,Chennai Super Kings,Gujarat Titans,14,6,RA Jadeja,MM Sharma,S Dube,4,...,wickets,5.0,171.0,15.0,N,D/L,Nitin Menon,RJ Tucker,"['Wriddhiman Saha ', 'Shubman Gill ', 'Sai Sud...","['Ruturaj Gaikwad ', 'Devon Conway ', 'Ajinkya..."

In [151]:
innings = [0,1,3,4]

In [156]:
sx_df = df1[df1["batsman_runs"] == 6]

In [158]:
sx_df.batsman_runs.count()

11790

In [167]:
df_empty = pd.DataFrame()

In [168]:
df_empty[["match", "win", "loss", "win%"]] = [[120, 97, 23, 79.12]]

In [169]:
df_empty

   match   win  loss   win%
0  120.0  97.0  23.0  79.12

In [179]:
for col in df_empty.columns:
    print(df_empty.iloc[0][col])

120.0
97.0
23.0
79.12

In [5]:
team_1 = "Chennai Super Kings"
team_2 = "Mumbai Indians"

In [16]:
temp_df = df1[((df1["team1"] == team_1) | (df1["team2"] == team_1)) & ((df1["team1"] == team_2) | (df1["team2"] == team_2))]

In [25]:
temp_df.groupby(["match_id"])["team1"].count().reset_index()["team1"].count()

36

In [54]:
temp_df.groupby(["match_id", "winner"])["team1"].count().reset_index()["winner"].value_counts().reset_index()["count"][0]

20

In [27]:
df1.groupby(["season", "batting_team", "match_id"]).agg({"total_runs" : "sum", "is_wicket" : "sum"}).reset_index().sort_values(by=["total_runs", "is_wicket"], ascending=[True,False]).head(15)

       season                 batting_team  match_id  total_runs  is_wicket
1015     2015  Royal Challengers Bangalore    829813           2          0
1479     2019             Rajasthan Royals   1178424          41          1
908      2014          Sunrisers Hyderabad    733993          44          2
1194     2017        Kolkata Knight Riders   1082648          48          3
1249     2017  Royal Challengers Bangalore   1082617          49         10
10    2007/08          Chennai Super Kings    336025          55          0
393      2011               Delhi Capitals    501265          56          3
201      2009             Rajasthan Royals    392182          58         10
146      2009               Delhi Capitals    392183          58          0
2015     2023             Rajasthan Royals   1359534          59         10
1287     2018               Delhi Capitals   1136566          60          4
418      2011        Kolkata Knight Riders    501245          61          2
1493     2019  Royal Challengers Bangalore   1178424          62          7
1162     2017               Delhi Capitals   1082635          66         10
1072     2016        Kolkata Knight Riders    980989          66          2

In [40]:
df1.groupby(["batter", "match_id", "season"])["batsman_runs"].sum().reset_index().sort_values(by="batsman_runs",ascending=False)

               batter  match_id   season  batsman_runs
2295         CH Gayle    598027     2013           175
1866      BB McCullum    335982  2007/08           158
9884        Q de Kock   1304112     2022           140
389    AB de Villiers    829795     2015           133
6456         KL Rahul   1216510  2020/21           132
...               ...       ...      ...           ...
6247        KH Pandya   1181764     2019             0
6250        KH Pandya   1216495  2020/21             0
10340   R Vinay Kumar    548344     2012             0
13556       SV Samson   1136613     2018             0
4725        IC Pandey    598027     2013             0

[15400 rows x 4 columns]

In [45]:
df1.groupby(["bowler", "season", "match_id"]).agg({"is_wicket" : "sum", "total_runs" : "sum"}).reset_index().sort_values(by=["is_wicket", "total_runs"], ascending=[False, True])

                 bowler   season  match_id  is_wicket  total_runs
1166      Akash Madhwal     2023   1370351          6           6
1060          AS Joseph     2019   1178394          6          14
10850     Sohail Tanvir  2007/08    336005          6          15
448             A Zampa     2016    980979          6          19
2467          DJG Sammy     2013    598056          6          23
...                 ...      ...       ...        ...         ...
7441         PJ Cummins     2017   1082635          0          65
3562           I Sharma     2013    598051          0          66
6918   Mujeeb Ur Rahman     2019   1178423          0          66
11934        Yash Dayal     2023   1359487          0          69
1759       Basil Thampi     2018   1136611          0          70

[12121 rows x 5 columns]

In [52]:
matches[matches["match_type"] == "Final"].groupby()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,Team1Players,Team2Players
57,336040,2007/08,Mumbai,01-06-2008,Final,YK Pathan,Dr DY Patil Sports Academy,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,...,wickets,3.0,164.0,20.0,N,NaN,BF Bowden,RE Koertzen,"['PA Patel', 'S Vidyut', 'SK Raina', 'JA Morke...","['NK Patel', 'SA Asnodkar', 'Kamran Akmal', 'S..."
114,392239,2009,Johannesburg,24-05-2009,Final,A Kumble,New Wanderers Stadium,Royal Challengers Bangalore,Deccan Chargers,Royal Challengers Bangalore,...,runs,6.0,144.0,20.0,N,NaN,RE Koertzen,SJA Taufel,"['JH Kallis', 'MK Pandey', 'RE van der Merwe',...","['AC Gilchrist', 'HH Gibbs', 'TL Suman', 'A Sy..."
174,419165,2009/10,Mumbai,25-04-2010,Final,SK Raina,Dr DY Patil Sports Academy,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,...,runs,22.0,169.0,20.0,N,NaN,RE Koertzen,SJA Taufel,"['M Vijay', 'ML Hayden', 'SK Raina', 'S Badrin...","['S Dhawan', 'SR Tendulkar', 'AM Nayar', 'Harb..."
247,501271,2011,Chennai,28-05-2011,Final,M Vijay,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,...,runs,58.0,206.0,20.0,N,NaN,Asad Rauf,SJA Taufel,"['MEK Hussey', 'M Vijay', 'MS Dhoni', 'SK Rain...","['MA Agarwal', 'CH Gayle', 'V Kohli', 'AB de V..."
321,548381,2012,Chennai,27-05-2012,Final,MS Bisla,"MA Chidambaram Stadium, Chepauk",Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,...,wickets,5.0,191.0,20.0,N,NaN,BF Bowden,SJA Taufel,"['MS Bisla', 'G Gambhir', 'JH Kallis', 'LR Shu...","['MEK Hussey', 'M Vijay', 'SK Raina', 'MS Dhon..."
397,598073,2013,Kolkata,26-05-2013,Final,KA Pollard,Eden Gardens,Chennai Super Kings,Mumbai Indians,Mumbai Indians,...,runs,23.0,149.0,20.0,N,NaN,HDPK Dharmasena,SJA Taufel,"['MEK Hussey', 'M Vijay', 'SK Raina', 'S Badri...","['DR Smith', 'AP Tare', 'KD Karthik', 'RG Shar..."
457,734049,2014,Bangalore,01-06-2014,Final,MK Pandey,M Chinnaswamy Stadium,Kolkata Knight Riders,Punjab Kings,Kolkata Knight Riders,...,wickets,3.0,200.0,20.0,N,NaN,HDPK Dharmasena,BNJ Oxenford,"['RV Uthappa', 'G Gambhir', 'MK Pandey', 'YK P...","['V Sehwag', 'M Vohra', 'GJ Bailey', 'WP Saha'..."
516,829823,2015,Kolkata,24-05-2015,Final,RG Sharma,Eden Gardens,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,...,runs,41.0,203.0,20.0,N,NaN,HDPK Dharmasena,RK Illingworth,"['LMP Simmons', 'PA Patel', 'RG Sharma', 'KA P...","['DR Smith', 'MEK Hussey', 'SK Raina', 'MS Dho..."
576,981019,2016,Bangalore,29-05-2016,Final,BCJ Cutting,M Chinnaswamy Stadium,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,...,runs,8.0,209.0,20.0,N,NaN,HDPK Dharmasena,BNJ Oxenford,"['CH Gayle', 'V Kohli', 'AB de Villiers', 'KL ...","['DA Warner', 'S Dhawan', 'MC Henriques', 'Yuv..."
635,1082650,2017,Hyderabad,21-05-2017,Final,KH Pandya,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,Mumbai Indians,...,runs,1.0,130.0,20.0,N,NaN,NJ Llong,S Ravi,"['LMP Simmons', 'PA Patel', 'AT Rayudu', 'RG S...","['AM Rahane', 'RA Tripathi', 'SPD Smith', 'MS ..."
695,1136620,2018,Mumbai,27-05-2018,Final,SR Watson,Wankhede Stadium,Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings,...,wickets,8.0,179.0,20.0,N,NaN,M Erasmus,S Ravi,"['SP Goswami', 'S Dhawan', 'KS Williamson', 'S...","['SR Watson', 'F du Plessis', 'SK Raina', 'AT ..."
755,1181768,2019,Hyderabad,12-05-2019,Final,JJ Bumrah,Rajiv Gandhi International Stadium,Mumbai Indians,Chennai Super Kings,Mumbai Indians,...,runs,1.0,150.0,20.0,N,NaN,IJ Gould,Nitin Menon,"['Q de Kock', 'RG Sharma', 'SA Yadav', 'Ishan ...","['F du Plessis', 'SR Watson', 'SK Raina', 'AT ..."
815,1237181,2020/21,NaN,10-11-2020,Final,TA Boult,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Delhi Capitals,...,wickets,5.0,157.0,20.0,N,NaN,CB Gaffaney,Nitin Menon,"['MP Stoinis', 'S Dhawan', 'AM Rahane', 'SS Iy...","['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ..."
875,1254117,2021,Dubai,15-10-2021,Final,F du Plessis,Dubai International Cricket Stadium,Chennai Super Kings,Kolkata Knight Riders,Kolkata Knight Riders,...,runs,27.0,193.0,20.0,N,NaN,Nitin Menon,RK Illingworth,"['RD Gaikwad', 'F du Plessis', 'RV Uthappa', '...","['Shubman Gill', 'VR Iyer', 'N Rana', 'SP Nari..."
949,1312200,2022,Ahmedabad,29-05-2022,Final,HH Pandya,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,Rajasthan Royals,...,wickets,7.0,131.0,20.0,N,NaN,CB Gaffaney,Nitin Menon,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan..."
1023,1370353,2023,Ahmedabad,29-05-2023,Final,DP Conway,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,Chennai Super Kings,Chennai Super Kings,...,wickets,5.0,171.0,15.0,N,D/L,Nitin Menon,RJ Tucker,"['Wriddhiman Saha ', 'Shubman Gill ', 'Sai Sud...","['Ruturaj Gaikwad ', 'Devon Conway ', 'Ajinkya..."

In [19]:
matches[matches.match_type == "Final"]["winner"].value_counts().head(1).values[0]

5